@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* big-calendar */
.rbc-toolbar {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 1rem !important;
}

.rbc-event {
  background-color: #f0f0f0;
  color: #000d;
  border-radius: 4pxd;
  border-left: 1px solid #cccd;
  padding: 4px;
}

.rbc-event-content {
  white-space: normal !important;
}

.rbc-time-view .rbc-time-header {
  border-bottom: 2px solid #f1f1f1 !important;
}

.rbc-today {
  background-color: #fffbf2 !important;
}

.rbc-time-header-cell {
  text-align: center !important;
  font-weight: bold !important;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #e6e6e6 !important;
}

.rbc-toolbar button {
  background-color: #f4f4f4 !important;
  border: 1px solid #dddd !important;
  padding: 4px 8px !important;
  margin: 0 4px !important;
  font-size: 14px !important;
  cursor: pointer !important;
}

.rbc-toolbar button:hover {
  background-color: #e2e2e2 !important;
}

.rbc-toolbar button:focus {
  outline: none !important;
}

.rbc-toolbar .rbc-active {
  background-color: #ffcc00;
  color: #fff !important;
}

.rbc-time-header-gutter {
  text-align: center !important;
  font-weight: bold !important;
}

.rbc-header {
  background-color: #fafafa !important;
  font-size: 14px !important;
  text-align: center !important;
  padding: 8px 0 !important;
  border: none !important;
}

.rbc-time-content {
  border-top: 1px solid #ddd !important;
}

.rbc-time-slot {
  height: 80px !important;
}

.rbc-timeslot-group {
  min-height: 80px !important;
}

/* calendar */
abbr[title] {
  text-decoration: none !important;
  text-transform: capitalize !important;
}

.react-calendar__month-view__days__day--weekend {
  color: inherit !important;
}
.react-calendar__tile--active {
  background: #ffad00 !important;
  color: white !important;
  border-radius: 2px;
}

/* event-type tags */
#eventTags::-webkit-scrollbar {
  display: none;
}

/* home right section */
.homeRightSection {
  box-shadow: 0 4px 35px 2px #00000026;
}
